---
layout: home
title: "Find Your Registration Centre"
home: active
---
<!-- <div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <p class="text-info text-left"><b>Registration ends on {{ site.registration_end_date }}.</b>
    All registration centres are open from 7:00am to 6:00pm each day including Saturdays and Sunday.</p>
  </div> -->

  <div class="jumbotron" id="jumbotron">
    <h1>Register as a Voter Today!</h1>
    <p class="lead">Voter registration for the {{ site.country }} {{ site.election_year }} Elections has begun.
      Find a voter registration centre and register to vote.</p>
      <p><a class="btn btn-large btn-success" href="#" id="findlink" onclick="javascript:goToByScroll('findlink');">Find a Registration Centre</a></p>
    </div>

    <hr />

    <div class="row marketing">
      <div class="col-sm-6">
        <h4>What is voter registration?</h4>
        <p>Voter registration is the process of entering details of qualified persons including their National Identity Card or Passport numbers in a register or list of voters.</p>

        <h4>Who qualifies to register as a voter?</h4>
        <p>In order to qualify as a voter, one must:</p>
        <ul>
          <li><p>Be a citizen of {{ site.country }}</p></li>
          <li><p>Be 18 years old and above</p></li>
        </ul>
  </div>
  <div class="col-sm-6">
    <h4>Why register as a voter?</h4>
    <p>Registering as a voter will give you the opportunity to elect leaders for your country at the national and county levels. You can only participate in elections if you are a registered voter. It is your right and duty as a responsible citizen to elect your leaders.</p>

    <h4>Where can you register as a voter?</h4>
    <p>You can register as a voter at any designated voter registration centres within the electoral area where you wish to vote.</p>

  </div>
</div>

<a name="find" id="find"></a>
<hr />

{% include modules/shared-id-search.html %}

<hr>

{% include modules/center-search.html %}

