<div class="container">
  <img src="/img/people6.png" alt="" style="width: 100%;">
</div>

<footer>

  <div class="about bg-info">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>About GotToVote!</h3>
          <p class="lead">Enabling citizens to get to the ballot box informed and ready.</p>

          <p>GotToVote started off as a simple experiment to make data otherwise locked in government, useful to the general public.</p>
          <p>Now we seek to make a larger impact in the democratic process by partnering with government, civil society and media organisation to improve the entire process.</p>
          <p><a href="http://gottovote.cc" class="btn btn-success" target="_blank">Learn more</a></p>
        </div>
        <div class="col-md-6">
          <a class="twitter-timeline" href="https://twitter.com/search?q=%23GotToVote" data-widget-id="443862671192903680">Tweets about "#GotToVote"</a>
          <script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div> <!-- /.row -->
    </div> <!-- /.container -->
    
  </div> <!-- /.about.bg-info -->

  <div class="container">
    <div style="margin-top:40px; margin-bottom:20px;">
      <p class="social-icons text-center">
        <!-- TODO: Set these via JS -->

        <a href="javascript:void(0);" name="Share_TW" title="Share on Twitter | GotToVote! Ke" onclick="window.open('http://twitter.com/home?status=Register%20to%20vote%20today!%20Find%20your%20registration%20centre on%20http://kenya.gottovote.cc%20%23GotToVote','GotToVote','width=550,height=270');"><img src="/img/social/tw.png" alt="Twitter"/></a>
        
        <a href="javascript:void(0);" name="Share_FB" title="Share on FB | GotToVote! Ke" onclick="window.open('http://www.facebook.com/sharer.php?u=http%3A%2F%2Fkenya.gottovote.cc%2F&t=Register+to+vote+today!+Find+your+registration+center+on+#GotToVote','GotToVote','width=550,height=270');"><img src="/img/social/fb.png" alt="Facebook"/></a>

        <a href="https://plus.google.com/share?url=kenya.gottovote.cc" onclick="javascript:window.open(this.href,
        '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img src="/img/social/gp.png" alt="Google +"/></a>
      </p>

      <p class="text-muted text-center">Using GotToVote's Registration Centres Information platform</p>

      <hr>

      <div class="row">
        <div class="col-xs-9">
          <p class="text-muted"><b>Supported By</b></p>
          <p>
            <a href="http://icfj.org/" target="_blank"><img src="/img/logos/icfj.png" alt=""></a>
            <a href="http://wbi.worldbank.org/" target="_blank"><img src="/img/logos/wbg.png" alt=""></a>
          </p>
        </div>
        <div class="col-xs-3 text-right">
          <p class="text-muted"><b>Built By</b></p>
          <p><a href="http://www.codeforafrica.org/" target="_blank"><img src="/img/logos/c4a.png" alt=""></a></p>
        </div>
      </div> <!-- /.row -->
      
    </div> <!-- /.marketing -->

  </div> <!-- /.container -->
  
</footer>
