<div class="header">
  <div class="container">
    <ul class="nav nav-pills pull-right">
      <li class="{{ page.home }}"><a href="{{ site.baseurl }}/">Home</a></li>
      <li class="{{ page.about }}"><a href="{{ site.baseurl }}/about.html">About</a></li>
      <li><a href="https://gottovote.cc/" target="_blank" style="border: 2px solid #4cae4c; padding: 8px 13px;">GtV.cc</a></li>
    </ul>
    <!--<h3 class="muted">Got To Vote! Ke</h3>-->
    <h2 class="text-muted">
      <img src="/img/logo_2.png" alt="" class="logo"/>
    </h2>
  </div>
</div>
