<hr/>

<div class="text-center">
  <p class="lead">Made Possible With Support From</p>
  <div class="partner-logos">
    <p>
      <a href="http://www.codeforkenya.org" target="_blank"><img src="/img/logos/c4k.png" /></a>
      <a href="http://icfj.org" target="_blank"><img src="/img/logos/icfj.png" /></a>
    </p>
    <p>
      <a href="http://wbi.worldbank.org" target="_blank"><img src="/img/logos/wb.jpg" style="height: 55px;" /></a>
      <a href="https://www.facebook.com/HacksHackersAfrica" target="_blank"><img src="/img/logos/hha.png" /></a>
    </p>
  </div>
</div>
