// Core variables and mixins
@import "../../../bower_components/bootstrap/less/bootstrap.less";


/* GLOBAL STYLES */
.mg-t-bg{
	margin-top: 40px;
}
.mg-b-bg{
	margin-bottom: 40px;
}
.mg-t-sm{
	margin-top: 20px;
}
.mg-b-sm{
	margin-bottom: 20px;
}