<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

	<title>{{ site.title }} | {{ page.title }}</title>
  
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content="{{site.claim}}"/>
	<meta name="author" content="Open Institute"/>
	
	<!-- Le styles -->
	<link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link type="text/css" href="/css/afrostyle.css" rel="stylesheet"/>
	<link type="text/css" href="/js/google-code-prettify/prettify.css" rel="stylesheet"/>
	<link type="text/css" href="css/smoothness/jquery-ui-1.8.22.custom.css" rel="stylesheet" />

	<!--[if lte IE 8]>
	    <link rel="stylesheet" href="/dist/leaflet.ie.css" />
	<![endif]-->
	
	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui-1.8.22.custom.min.js"></script>
	<script type="text/javascript" src="js/modernizr-2.5.3.min.js"></script>
	
	<script>
		function googleTranslateElementInit() {
			new google.translate.TranslateElement({
				pageLanguage: 'en', includedLanguages: 'fr,pt', gaTrack: true, gaId: 'UA-31599102-1'
			});
		}
	</script>
	<script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</head>

<body class="{{page.section}}" data-twttr-rendered="true">
	
	<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

	<div class="navbar container" style="margin-top:20px;">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>

				<a class="brand" href="/">African Spending</a>

				<div class="nav-collapse">
					<ul class="nav pull-right">
						<li class="{{page.index}}"><a href="/">Home</a></li>
						<li class="{{page.about}}"><a href="/about">About</a></li>
						<li class="{{page.blog}}"><a href="#">Blog</a></li>
						<li class="divider-vertical"></li>
						<li class="{{page.why}}"><a href="/why">Why Spending Transparency?</a></li>
						<li class="divider-vertical"></li>
						<!-- Social Icons -->
						<li class="visible-desktop" id="social-nav"><a href="#" rel="tooltip" title="Share On Twitter">t</a></li>
						<li class="visible-desktop" id="social-nav"><a href="#" rel="tooltip" title="Share On Facebook">f</a></li>
						<!-- Social Icons Mobile Friendly -->
						<li class="hidden-desktop" id="social-nav" style="text-align:center; border-top: 1px solid #B6B6B6;">
							<a id="mob" href="#">Share On Twitter</a>
							<span id="mob" style="font-weight:normal;"> | </span>
							<a id="mob" href="#">Share On Facebook</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div><!--end #navbar-->

	<article class="container">
		<div>
			<table align="center"><tr>
				<td>
					<div class="alert alert-info" style="text-align:center; display:inline-block;">
						<button class="close" data-dismiss="alert">×</button>
						Do you want to help map government finances from all around Africa?
						<a href="mailto:getinvolved@africanspending.org" style="color:#08C">Get involved</a>!
					</div>
				</td>
			</tr></table>
			
		</div>
		
		<!-- How To Use -->
		<div style="text-align:center;">
			<p class="lead" >A great tool to keep track of government finances all around Africa.
			<a class="btn" data-toggle="modal" href="#howtouse">How To Use</a></p>
		</div>
		<div class="modal hide fade" id="howtouse">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3>How To Use</h3>
			</div>
			<div class="modal-body" style="text-align:center;">
				<p>Coming Soon. <br/> Until then, explore and <a href="mailto:hello@africanspending.org">let us know</a> what you think.</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
			</div>
		</div>
		<!-- /: How To Use -->
		
		<!-- Main Stage - Content
				==================================================	-->
			
			{{ content }}
		
		<!--	==================================================	-->
			
	
	</article>

	<!-- Footer stuff -->
	<footer class="container" style="text-align:center;">
		<hr>
		<p>
			<a href="/">Home</a> · 
			<a href="/about">About</a> · 
			<a href="#">Blog</a>
		</p>
		<p>This is an <a href="http://www.openinstitute.com" target="_blank">Open Institute</a> project, developed with generous support from the <a href="http://www.okfn.org" target="_blank">Open Knowledge Foundation</a>.</p>
		<p>All <a href="http://www.gnu.org/licenses/agpl.html" target="_blank">code</a> and <a href="http://opendatacommons.org/licenses/odbl/" target="_blank">data</a> is openly licensed in accordance with the <a href="http://opendefinition.org/" target="_blank">open definition</a>. 
		          <a href="http://opendefinition.org" target="_blank"><img src="http://assets.okfn.org/images/ok_buttons/od_80x15_blue.png" alt="Open Content"></a></p>
		
		<div class="follow-buttons">
			<a href="https://twitter.com/AfricanSpending" class="twitter-follow-button" data-show-count="false" target="_blank">Follow @AfricanSpending</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	
			<div class="fb-like fb_edge_widget_with_comment fb_iframe_widget" data-href="http://facebook.com/kipptapp" data-send="false" data-width="100" data-show-faces="false" data-layout="button_count">
				<span style="height: 20px; width: 100px; ">
					<div id="fb-root"></div>
					<script>
						(function(d, s, id) {
							var js, fjs = d.getElementsByTagName(s)[0];
							if (d.getElementById(id)) return;
							js = d.createElement(s); js.id = id;
							js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
							fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));
					</script>
					<div class="fb-like" data-href="http://www.facebook.com/pages/Africa-Spending/340655816006338" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true"></div>
				</span>
			</div>
		</div>
	</footer>

	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="js/bootstrap.min.js"></script>

	<!--<script src="/js/google-code-prettify/prettify.js"></script>-->
	
	<!-- Analytics
	================================================== -->
	<script>
	    var _gaq=[['_setAccount','UA-32175814-1'],['_trackPageview']];
	    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	    s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>

</body>

</html>








